
.crd{
    background-color: rgb(174, 252, 122);
    padding: 1rem;
    border-radius: 1rem;
    width: 350px;
    box-shadow: 0 0 11px 1px rgb(133, 131, 131);
    margin-bottom: 2rem;
    
        
    
}
.crd * h1{
    font-family: 'Poor Story', cursive;
    font-size: 50px;
}

.crd *img{
    width: 300px;
    height: 300px;
    border-radius: 1rem;
    margin: auto;
}